.blog-container {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr 2fr; 
}

.blog-post-wrapper > h3 {
  text-align: left;
}
.blog-post-wrapper {
  margin: -10px;
}
.column-1 {
   grid-column: 1/3;
}

.img-post {
  width: 90%;
  margin-top: 10px;
}
.column-2 > aside{
  border: 2px solid black;
  width: 85%;
  margin-top: 10px;
  font-family: "Roboto", sans-serif; 
  line-height: 2.5;
  font-size: 15px;
}
aside > h3 {
  text-align: center;
}
.next-wrapper a::after {
  content: " →";
}
.previous-wrapper a::before {
  content: " ← ";
}
.next-previous-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.next-previous-container a {
  color: black;
}
