footer {
  background-color: #0f0919;
  color: #ffffff;
  margin-top: 0.5em;
}
.footer-container {
  display: flex;
  align-items: baseline;
  align-content: space-between;
  justify-content: space-around;
  padding: .8em;
}
.btn {
  border: 0.1em solid #ffffff;
  padding: 5px 8px;
  color: #ffffff;
  border-radius: 3px;
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
}

.input-file {
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  
}
